
        body{
            margin: 0;
            padding: 0;
            font-family:sans-serif;
            background-image: url("./Images/ApniDukaanLogo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
	        height: 100vh; 
            overflow:hidden;
        }
        .center{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width: 400px;
            
            background-color: white;
            border-radius: 10px;
        }
        .center h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
            

        }
        .center form{
            padding: 0 40px;
            box-sizing: border-box;
        }
        form .text_field{
            position: relative;
            border-bottom: 2px solid #adadad;
            margin:30px 0 ;

        }
        .text_field input
        {
            width: 100%;
            padding: 0 5px;
            height: 40px;
            border:none;
            background: none;
            font-size: 16px;
            outline: none;
        }
        .text_field label
        {
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            pointer-events: none;
        }
        .text_field span::before{
            content : '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 0%;
            height: 2px;
            background: #2691d9;
            transition: 0.5s;
        }
        .text_field input:focus ~ label,
        .text_field input:valid ~ label{
            top: -5px;
            color: #2691d9;
        }
        .text_field input:focus ~ span::before,
        .text_field input:valid ~ span::before{
            width: 100%;
        }
         .forgot
        {
            margin: -5px 0 20px 5px;
            color: #a6a6a6;
            cursor: pointer;

        }
        .forgot:hover{
            text-decoration: underline;
        } 
        #Login{
            width: 100%;
            height: 50px;
            border: 1px,solid;
            background: #2691d9;
            border-radius: 25px;
            font-size: 18px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
            
        }
        .sign
        {
            margin: 30px 0;
            text-align: center;
            font-weight: 600;
        }
        .sign a{
            color:#2691d9;
            font-weight: 600;
        } 
        .menu ul{
            margin: 0;
            padding: 0;
            background-color: blue;
            list-style: none;
            line-height: 60px;
          }
          .menu li{
            float: left;
          }
          .menu ul li a{
            background: #000066;
            text-decoration: none;
            width: 150px;
            display:block;
            text-align: center;
            color: whitesmoke;
            font-size: 18px;
            letter-spacing: 0.5px;
          }
          .logo{
            width:200px;
            height:100px;
            padding:20px;
            float:right;
            transform:scale(1);
            
        }
          .menu li a:hover{
            color:red;
            opacity:0.5;
            font-size: 20px;
          }