@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 10px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #2b1055;

}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #2b1055;

}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522 ,transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode:screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -650px;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color:#2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h3{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1em;
    color: #fff;
}
html{
    background-image:url("https://source.unsplash.com/weekly?Appliances");
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
#back{
    background-image:url("https://source.unsplash.com/weekly?perfume");
}
.heading{
    font-family: 'Dela Gothic One', cursive;
    text-align:center;
    font-size:25px;
}
.heading h2{
    margin-top:5%;
    margin-top:10px;
    text-align: center;
    color: black;
}
.mssg{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    text-align:center;
    margin-bottom:30px;
    font-size: 30px;  
    color: black;  
}
button:hover{
    background-color:grey;
}
button{
    border-radius: 20px;
    padding:8px;
    border:4px solid black;
   

}
.contact{
    font-size: cursive;
    text-align: center;
    color: black;
}
p{
    text-align: center;
}
.btn{
    margin:0;
    position:relative;
    top:100%;
    margin-bottom:20px;
    text-align: center;
}
.whole{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-image:url("https://source.unsplash.com/weekly?phone");
    border-radius: 50px;
    border: 1px solid black;   
    position:absolute;
    left:40%;
    padding: 70px 0;
}
body{
    position: absolute;
    padding: 170px 0;
    left:17%;
    width:50%;
}