/*About Us Page*/

.fadeIn {
  animation: fadeIn 3s;
  opacity: 1;
}

.fadeInLeft {
  animation: fadeIn 5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.hide {
  opacity: 0;
}

#progressContainer {
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.progress-container {
  width: 100%;
  height: 8px;
  top: -50px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: rgb(67, 67, 163, 0.5);
  top: -50px;
  width: 0%;
}

.aboutUsContentContainer {
  width: 80%;
  margin: auto;
}

.aboutUsBanner img {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.aboutDesc {
  width: auto;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: auto;
  color: rgb(128, 128, 128);
  font-size: 20px;
}

.DescContainerLeft:hover,
.DescContainerRight:hover {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgb(67, 67, 163);
}

.DescBoxLeft {
  width: 200px;
  height: 200px;
  float: left;
  border-right: 5px solid rgb(67, 67, 163);
  padding-top: 60px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(86, 101, 115);
}

.DescBoxRight {
  width: 200px;
  height: 200px;
  float: right;
  border-left: 5px solid rgb(67, 67, 163);
  padding-top: 60px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(86, 101, 115);
}

.flip-card-Container {
  margin: auto;
  max-width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 280px;
  perspective: 1000px;
  margin: 20px 20px 50px 20px;
  float: left;
}

.flip-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  height: 100px;
  width: 50%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border: 5px solid rgb(67, 67, 163);
}

.flip-card-front p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.flip-card-back {
  margin: auto;
  padding: auto;
  width: fit-content;
  background-color: rgb(67, 67, 163, 0.2);
  color: rgb(86, 101, 115);
  transform: rotateY(180deg);
  font-size: 18px;
}


@media screen and (max-width: 500px) {
    .nav-link{
      font-size: 13px!important;
    }
    .dropdown-item{
      font-size: 13px!important;
    }
    .line-in{
      font-size: 13px!important; 
    }
    .btn{
      font-size: 13px!important;
    }
    .img-sz{
      height:150px!important;
    }
    .head-sz{
      font-size: 37px!important;
    }
    .mid-sz{
      font-size: 24px!important;
    }
    .mid1-sz{
      font-size: 15px!important;
    }
    .mid2-sz{
      font-size: 20px!important;
      padding-top: 45px!important;
      height:150px!important;
      width:150px!important;
      margin-left:6px!important;
    }
    .mid3-sz{
      font-size: 13px!important;
      margin-top: 38px!important;
    }
    .mid4-sz{
      font-size: 26px!important;
    }
    .flip-card{
      height:92px!important;
      width:92px!important;
      margin:10px 10px 30px 10px!important;
    }
    .flip-card img{
      height:35px!important;
      margin-top: 10px!important;
    }
    .flip-card-front p{
      font-size: 10px!important;
      margin-top: 8px!important;
    }
    .flip-card-front{
      border:2.5px solid rgb(67,67,163);
    }
    .md-sz{
      font-size: 13px!important;
      margin: 0 !important;
    }
    .text-white{
      font-size: 13px!important;
    }
    footer h5::before{
      padding-right: 2.5px!important;
    }
    .mb-4{
      margin-bottom: 0.5rem!important;
    }
    #btnScrollToTop{
      width: 30px !important;
      height: 30px !important;
    }
    .material-icons{
      font-size: 19px!important;
    }
  }
  @media screen and (max-width: 425px) {
    .nav-link{
      font-size: 11px!important;
    }
    .dropdown-item{
      font-size: 11px!important;
    }
    .line-in{
      font-size: 11px!important; 
    }
    .btn{
      font-size: 11px!important;
    }
    .img-sz{
      height:130px!important;
    }
    .head-sz{
      font-size: 30px!important;
    }
    .mid-sz{
      font-size: 19px!important;
    }
    .mid1-sz{
      font-size: 13px!important;
    }
    .mid2-sz{
      font-size: 16px!important;
      padding-top: 35px!important;
      height:130px!important;
      width:130px!important;
      margin-left:6px!important;
      margin-right:6px!important;
    }
    .mid3-sz{
      font-size: 11px!important;
      margin-top: 32px!important;
    }
    .mid4-sz{
      font-size: 21px!important;
    }
    .flip-card{
      height:77px!important;
      width:77px!important;
      margin:7.5px 7.5px 24px 7.5px!important;
    }
    .flip-card img{
      height:28px!important;
      margin-top: 8px!important;
    }
    .flip-card-front p{
      font-size: 10px!important;
      margin-top: 8px!important;
    }
    .flip-card-front{
      border:2.5px solid rgb(67,67,163);
    }
    .md-sz{
      font-size: 11px!important;
      margin: 0 !important;
    }
    .text-white{
      font-size: 11px!important;
    }
    footer h5::before{
      padding-right: 2.5px!important;
    }
    .mb-4{
      margin-bottom: 0.5rem!important;
    }
    #btnScrollToTop{
      width: 25px !important;
      height: 25px !important;
    }
    .material-icons{
      font-size: 15px!important;
    }
  }
