@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  --card-color: #cacaca;
  --text-color: #e1e1e1;
}

body {
  font-family: 'Roboto', sans-serif;
}

.tips {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f1f1f1;
  line-height: 30px;
  font-size: 14px;
  padding: 2px 15px;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 680px;
}
.container .col1 {
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.container .col1 .card {
  position: relative;
  width: 420px;
  height: 250px;
  margin-bottom: 85px;
  margin-right: 10px;
  border-radius: 17px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.container .col1 .card .front {
  position: absolute;
  background: var(--card-color);
  border-radius: 17px;
  padding: 50px;
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 50;
  background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.container .col1 .card .front .type {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 20px;
  right: 20px;
}
.container .col1 .card .front .type img {
  width: 100%;
  float: right;
}
.container .col1 .card .front .card_number {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
  top: 110px;
  color: var(--text-color);
  word-spacing: 3px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.container .col1 .card .front .date {
  position: absolute;
  bottom: 40px;
  right: 55px;
  width: 90px;
  height: 35px;
  color: var(--text-color);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.container .col1 .card .front .date .date_value {
  font-size: 12px;
  position: absolute;
  margin-left: 22px;
  margin-top: 12px;
  color: var(--text-color);
  font-weight: 500;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.container .col1 .card .front .date:after {
  content: 'MONTH / YEAR';
  position: absolute;
  display: block;
  font-size: 7px;
  margin-left: 20px;
}
.container .col1 .card .front .date:before {
  content: 'valid \a thru';
  position: absolute;
  display: block;
  font-size: 8px;
  white-space: pre;
  margin-top: 8px;
}
.container .col1 .card .front .fullname {
  position: absolute;
  font-size: 20px;
  bottom: 40px;
  color: var(--text-color);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.container .col1 .card .back {
  position: absolute;
  width: 100%;
  border-radius: 17px;
  height: 100%;
  background: var(--card-color);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.container .col1 .card .back .magnetic {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 25px;
}
.container .col1 .card .back .bar {
  position: absolute;
  width: 80%;
  height: 37px;
  background: rgba(255, 255, 255, 0.7);
  left: 10px;
  margin-top: 100px;
}
.container .col1 .card .back .seccode {
  font-size: 13px;
  color: var(--text-color);
  font-weight: 500;
  position: absolute;
  top: 100px;
  right: 40px;
}
.container .col1 .card .back .chip {
  bottom: 45px;
  left: 10px;
}
.container .col1 .card .back .disclaimer {
  position: absolute;
  width: 65%;
  left: 80px;
  color: #f1f1f1;
  font-size: 8px;
  bottom: 55px;
}
.container .col2 input {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.container .col2 input:focus {
  outline-width: 0;
  background: rgba(31, 134, 252, 0.15);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.container .col2 label {
  padding-left: 8px;
  font-size: 15px;
  color: #444;
}
.container .col2 .ccv {
  width: 40%;
}
.container .col2 .buy {
  width: 260px;
  height: 50px;
  position: relative;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 20px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  cursor: pointer;
}
.container .col2 .buy i {
  font-size: 20px;
}
.container .col2 .buy:hover {
  background: #3594A9;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.chip {
  position: absolute;
  width: 55px;
  height: 40px;
  background: #bbb;
  border-radius: 7px;
}
.chip:after {
  content: '';
  display: block;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ddd;
}
