::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #000066;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}

body{
  background: skyblue;
  margin: 0;
  overflow-x: hidden;
}

.menu{
  width: 100%;
  background-color: #000066;
  overflow: auto;
}
.menu ul{
  margin: 0;
  padding: 0;
  background-color: blue;
  list-style: none;
  line-height: 60px;
}
.menu li{
  float: left;
}
.menu ul li a{
  background: #000066;
  text-decoration: none;
  width: 125px;
  display:block;
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.menu li a:hover{
  color:red;
  opacity:0.5;
  font-size: 20px;
}
.search-form{
  margin-top:15px;
  float:right;
  margin-right: 100px;
}
input[type=text]{
  padding: 7px;
  border:none;
  font-size: 16px;
}
button{
  float:right;
  background:rgb(67, 67, 163);
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position:relative;
  padding:7px;
  border: none;
  font-size: 16px;
}
marquee{
	color:rgb(67, 67, 163);
	font-size: 25px;
	font-family:Arial;
}
.logo{
	width:200px;
	height:100px;
	padding:20px;
	float:left;
	transform:scale(1);
	transition-property:width;
	transform:translateY(0px);
	transition-duration:5s,5s;
	transition:transform 4s,4s;
}
.logo:hover{
	width:300px;
	transform:translateY(-30px);
}
.logo1{
	width:200px;
	height:100px;
	padding:20px;
	float:right;
  margin-right: 30px;
  margin-top: 50px;
	transform:scale(1);
	transition-property:width;
	transform:translateY(0px);
	transition-duration:5s,5s;
	transition:transform 4s,4s;
}
.logo1:hover{
	width:300px;
	transform:translateY(-30px);
}
.online{
	color:rgb(67, 67, 163);
	font-size: 50px;
	padding: 50px;
	float:center;
}
.menu2{
  width: 100%;
  background: skyblue;
  overflow:auto;
  position: relative;
}
.menu2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
.menu2 li{
  float:right;

}
.menu2 ul li a{
  background: #000066;
  text-decoration: none;
  width: 150px;
  display:block;
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.menu2 li a:hover{
  color:red;
  opacity:0.5;
  font-size: 20px;
}
.slider-holder
        {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        .image-holder
        {
            width: 2400px;
            background-color:rgb(67, 67, 163);
            height: 400px;
            clear: both;
            position: relative;
            transform: translate3d(0, 0, 0);
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s ;
            animation: moveSlideshow 12s linear infinite;
        }
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
            transform: translate3d(0, 0, 0);
            animation: moveSlideshow 12s linear infinite;
        }
        #slider-image-offer1:target ~ .image-holder
        {
            left: 0px;
        }
        #slider-image-offer2:target ~ .image-holder
        {
            left: -800px;
        }
        #slider-image-offer3:target ~ .image-holder
        {
            left: -1600px;
        }
        #slider-image-offer4:target ~ .image-holder
        {
            left: -2400px;
        }
        #slider-image-offer5:target ~ .image-holder
        {
            left: -3200px;
        }
        @keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color:rgb(67, 67, 163);
        }
        
/* DEALS  */

.deals .inner {
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
.deals .inner div {
  text-align: center;
  margin: 25px;
  padding: 10px;
  padding-bottom: 20px;
  border: 3px solid #000066;
  box-shadow: #000066 0px 5px 15px;
  width: 350px;
}
.deals h2 {
  font-size: 50px;
  color: rgb(67, 67, 163);
  margin-left: 30px;
}
.deals .inner img {
  border-radius: 50px;
  width: 250px;
  height: 250px;
}
.deals .inner h3 {
  font-size: 18px;
  padding: 5px;
}
.deals a {
  border: 2px solid #000066;
  text-decoration: none;
  padding: 10px;
  background-color: #000066;
  color: white;
  transition: all 0.5s;
}
.deals a:hover {
  background: none;
  color: #000066;
}
#timer1 {
  font-size: 24px;
  margin-top: 0;
}
#timer2 {
  font-size: 24px;
  margin-top: 0;
}
#timer3 {
  font-size: 24px;
  margin-top: 0;
}
#timer4 {
  font-size: 24px;
  margin-top: 0;
}
#timer5 {
  font-size: 24px;
  margin-top: 0;
}
#timer6 {
  font-size: 24px;
  margin-top: 0;
}


.about1 h1{
  text-align: center;
	color:rgb(67, 67, 163);
	min-height:30px;
	width:100%;
  font-size: 40px;
}
* {
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.container1 {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 350px;
  height: 450px;
  background: #4b4fbd;
  padding: 20px 20px;
  box-shadow: 0 15px 45px rgba(0,0,0,.2);
  border-radius: 5px;
}
.box p{
  font-size: 21px;
  color: #0f0f0f;
}
.box h2{
  text-shadow: 1px 1px;
}
.contact h1{
  font-size:50px;
color:rgb(67, 67, 163);
margin-left: 30px;
}
.contact h3{
  font-size:20px;
}
.contact{
  margin-top:10px;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.buttonmodal button{
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  background:rgb(67, 67, 163);
  color: white;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding:7px;
  border: none;
  font-size: 25px;
}
.buybutton{
  float: left;
  background:rgb(67, 67, 163);
  color: white;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding:7px;
  border: none;
  font-size: 22px;
}
.product img{
  border-radius: 50px;
     width: 250px;
    height: 250px;
    float: right;
    margin-right: 30px;
    background-color:skyblue;
}
.product button{
    margin:10px 10px 10px 10px;
    background:rgb(67, 67, 163);
  color: white;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding:7px;
  border: none;
  font-size: 22px;
}
footer .inner div{
  display:table-cell;
  float: center;
  padding: 10px;
}
footer  {
  padding-top: 1px;
  background-color:rgb(67, 67, 163);
  height: 240px;
  text-align: center;
  width: 100%;
}
footer .foot .copyright{
  line-height: 40px;
  text-align: center;
  bottom: 0;
}

footer .inner .about li,.inner .help li, .inner  .policy li{

  list-style-type: none;
  padding-top: 5px;
}

footer .inner div li a{
text-decoration: none;
color: black;
}
footer .inner div h3{
  color:whitesmoke;
}
footer .inner  .about h3, .help h3,  h3{
  padding-left: 39px;
} 
@media (min-width:360px) and (max-width:720px) {
  .menu{
    width: 220%;
    height: 170vh;
    padding-top: 410px;
    background-color:rgb(67, 67, 163);
    background-size: cover;
}
 .deals1 ul {
    display: flex;
    margin: 0px auto;
    padding: 0px;
    width: 90%;
    overflow: hidden;
}
.deals1 {
    padding-left: 4px;
}
 .deals1 ul li img {
    height: 240px;
    width: 274px;
}
 .deals1 {
    padding-left: 10px;
    padding-top: 61px;
}
deals1 img {
    height: 130px;
    padding: 2px 5px;
}
deals1 ul li {
    width: 500px;
    padding:6px;
}
.menu a:hover{
  color:red;
  text-transform: uppercase;
}
footer {
    background-color: rgb(67, 67, 163);
    height: 550px;
    text-align: left;
    width: 220%;
    display:block;
    float: left;
    font-size: 22px;
}
footer .inner {
  display:table-cell;
  float: left;
  padding: 0px;
  padding-top: 25px;
  padding-left: 40px;
}
.menu{
  padding:  5px 0 5px 0;
text-align: center;
  line-height: 50px;
}
.menu a{
  padding: 0 10px 0 10px;
  display: inline;
  text-decoration: none;
  padding: 18px;
  font-size: 30px;
}
  }

  /* Custom Contact us css */
  @media (min-width: 0px) and (max-width:1920px) {
    .footerMargin {
      margin-top: 200px;
    }
  }

  @media (min-width:1920px) and (max-width:2440px) {
    .footerMargin {
      margin-top: 400px;
    }
  }

/* FAQ PAGE  */

.container {
  margin: 0 auto;
  padding: 64px;
  width: 768px;
}
.container h2 {
  color: rgb(67, 67, 163);
  text-decoration: underline;
  font-size: 28px;
}
.accordion a {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  padding: 16px 48px 16px 16px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid grey;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #000066;
}
.accordion a:hover::after {
  transform: scale(1.1);
}
.accordion a.active {
  color: #000066;
  border-bottom: 1px solid #fff;
}
.accordion a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f063";
  font-weight: 900;
  position: absolute;
  float: right;
  right: 16px;
  font-size: 16px;
  color: grey;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.accordion a.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f062";
  color: #000066;
}
.accordion .content {
  opacity: 0;
  padding: 0 16px;
  max-height: 0;
  border-bottom: 1px solid #000066;
  overflow: hidden;
  clear: both;
  transition: all 0.2s;
}
.accordion .content p {
  font-size: 16px;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 16px;
  max-height: 100%;
  transition: all 0.3s;
}
.contact {
  text-align: center;
}
.contact h3{
  color: rgb(67, 67, 163);
}
.contact a {
  border: 2px solid #000066;
  text-decoration: none;
  padding: 7px;
  margin-left: 30px;
  background-color: #000066;
  color: white;
  transition: all 0.5s;
}
.contact a:hover {
  background: none;
  color: #000066;
}

@media (max-width: 991px) {
  .container {
    width: 500px;
    padding: 32px;
  }
}
@media (max-width: 674px) {
  .container {
    width: 350px;
  }
}
@media (max-width: 524px) {
  .container {
    width: 250px;
    margin-left: 60px;
  }
}
@media (max-width: 442px) {
  .container {
    width: 200px;
    margin-left: 40px;
  }
}
@media (max-width: 360px) {
  .container {
    width: 180px;
    margin-left: 20px;
  }
}


/* scroll to the top */
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(0, 17, 20);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0, 0.25);
  color: rgb(240, 234, 234);
  outline: none;
}

#btnScrollToTop:active {
  background:rgba(51, 51, 59, .2)
}
